{% extends _layout %}

{% block content %}
<p>The page you are looking at is being generated dynamically by CodeIgniter.</p>

<p>If you would like to edit this page you\'ll find it located at:</p>
<code>application/themes/default/home/index.html.twig</code>

<p>The corresponding controller for this page is found at:</p>
<code>application/controllers/home.php</code>

<p>{{ 'If you are exploring CodeIgniter for the very first time, you should start by reading the %s .'|format(anchor('http://ellislab.com/codeigniter/user-guide/', 'User Guide')) }}</p>
{% endblock %}
