{% extends _layout %}

{% block content %}
<h2>Server Error: 404 (Not Found)</h2>
<p>La página solicitada no se encuentra en el sistema, contacte con el administrador.<br>
Talvez você queira ir para a {{ anchor('/', 'Inicio') }}?</p>
{% endblock %}
