{% extends _layout %}

{% block content %}
<h2>Server Error: 404 (Not Found)</h2>
<p>Não foi possível encontrar a página que você solicitou em nossos servidores. Sentimos muito sobre isso. A culpa é nossa, não sua.<br>
Talvez você queira ir para a {{ anchor('/', 'página inicial') }}?</p>
{% endblock %}
